.info_sec {
    background: #ac1637;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer .inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.title_sec {
    width: 24%;
    line-height: 15px;
    padding: 30px 0;
}

.footer_title {
    color: #fff;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

.common_txt,
.contact_txt {
    font-size: 13px;
    line-height: 1.3;
}

.info_sec .common_txt {
    margin-bottom: 10px;
    max-width: 80%;
    color: #fff;
}

.contact_sec {
    width: 60%;
    padding-top: 30px;
    margin-left: 2.6%;
}

.contact_item {
    width: 48%;
    margin-right: 2%;
}

.contact_icon {
    width: 40px;
    margin-right: 10px;
}

.contact_ttl {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.contact_txt {
    color: #fff;
}

.footer_sec {
    background-color: #e0e0e0;
    padding: 20px 0 20px;
    
}
.footer_sec .inner{
	position: relative;
}

.footer_sec .logo_sec {
    width: 160px;
    margin-right: 150px;
}

.footer_sec .logo {
    width: 100%;
    height: auto;

}

.footer_sec a {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
}

.f_menu {
    width: 230px;
    padding-top: 17px;
}

.footer_sec a:hover,
.footer_sec a:focus {
    color: #ac1637;
}

.footer_sec .txt_nestle {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
}
.page_top{
	dispaly: block;
	position: absolute;
    right: 20px;
    color: #76747f;
    font-size: 13px;
    background: url(/assets//images/back_to_top.png) top right no-repeat;
    padding-right: 20px;
    cursor: pointer;
}

/*For Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1039px) {
    .info_sec {
    padding-top: 1.563vw;
    padding-bottom: 0.781vw;
}

footer .inner {
    width: 100%;
    max-width: 78.125%;
    margin: 0 auto;
}

.title_sec {
    width: 24%;
    line-height: 1.172vw;
    padding: 2.344vw 0;
}

.footer_title {
    line-height: 1;
    margin-bottom: 1.172vw;
    font-size: 1.953vw;
}

.common_txt,
.contact_txt {
    font-size: 1.016vw;
    line-height: 1.3;
}

.info_sec .common_txt {
    margin-bottom: 0.781vw;
    max-width: 80%;
}

.contact_sec {
    width: 60%;
    padding-top: 2.344vw;
    margin-left: 2.6%;
}

.contact_item {
    width: 48%;
    margin-right: 2%;
}

.contact_icon {
    width: 2.344vw;
}

.contact_ttl {
    font-size: 1.016vw;
    padding-bottom: 0.156vw;
    margin-bottom: 0px;
}

.footer_sec {
    padding: 0.156vw 0 0.156vw;
}


.footer_sec .logo_sec {
    width: 12.500vw;
    margin-right: 12.500vw;
}

.footer_sec a {
    font-size: 1.016vw;
    line-height: 1.719vw;
}

.f_menu {
    width: 17.969vw;
    padding-top: 1.328vw;
}

.footer_sec .txt_nestle {
    font-size: 1.016vw;
}
.page_top{
    right: 1.563vw;
    font-size: 1.016vw;
    background: url(/assets//images/back_to_top.png) top right no-repeat;
    padding-right: 1.563vw;
}
}






/*For SP*/
@media only screen and (max-width: 767px) {

    .info_sec {
        padding: 0.4rem .4rem 0.8rem;
    }

    footer .inner {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .title_sec {
        width: 100%;
        line-height: .3rem;
        padding: .6rem 0;
    }

    .footer_title {
        margin-bottom: .3rem;
        font-size: .5rem;
    }

    .common_txt,
    .contact_txt {
        font-size: .26rem;
        line-height: 1.3;
    }

    .info_sec .common_txt {
        margin-bottom: .2rem;
        max-width: 100%;
    }
    .p_menu:hover {
        background: none;
    }

    .contact_sec {
        width: 100%;
        padding-top: .6rem;
        margin-left: 0;
    }

    .contact_item {
        width: 100%;
        margin: 0 0 0.5rem;
    }

    .contact_icon {
        width: 0.8rem;
    }

    .contact_ttl {
        font-size: .26rem;
        padding-bottom: .1rem;
        margin-bottom: 0;
    }

    .footer_sec {
        padding: .4rem;
        margin-right: .2rem;
    }

    .footer_sec .inner.flex {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer_sec .logo_sec {
        width: 2.85rem;;
        margin: 0 auto;
        text-align: center;
    }

    .footer_sec .logo {
        width: 100%;
        height: auto;
    }

    .footer_sec a {
        font-size: .26rem;
        line-height: 1.5;
    }

    .f_menu {
        width: 100%;
        padding-top: 0;
    }

    .footer_sec .txt_nestle {
        font-size: .26rem;
    }
    .page_top{
    	top: 0;
    	right: .4rem;
	    font-size: .26rem;
	    padding-right: .4rem;
	}
}